@keyframes pop {
    from {opacity: 0;}
    to {opacity: 1;}
};

@keyframes slidedown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}


.slidedown {
    animation: slidedown 1.5s;
    opacity: 1 !important;
}

.birdAnimation {
    animation: bird 1.5s;
    opacity: 1;
}

@keyframes bird {
    from {
        opacity: 0;
        transform: translateX(-20px);
        
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}


