.header {

    height: 100vh;
    background-color: #141414;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 4fr;

    @media screen and ( max-width : 600px ){

        grid-template-columns: 4fr;
        grid-template-rows: 0.5fr 3fr 0.5fr;
        
        }


}

.header__top {
    font-family: 'Righteous', cursive;
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    grid-template-columns: 1fr 3fr;
    // justify-content: space-around;
}

.header__logo {
    grid-column: 1 / 2;
    background: #020202;
    filter: saturate(0%);  
    box-shadow: 4px -4px 12px -3px rgba(0,0,0,0.7);
  
}



.header__title {
    align-self: baseline;
    color: #ffffff;
    font-size: 2.3rem;
    max-width: 100px;
    margin: auto;
    animation: pop 0.5s ease-in;
    

    @media screen and ( max-width : 600px ){
        font-size: 1.5rem;
        z-index: 3;
        max-width: 60px;
        }

        

}

.header__description {
    line-height: 1.5;
    align-self: baseline;
    max-width: 500px;
    text-align: left;
    color: rgba($color: #fff, $alpha: 0.7);
    // color: #E17402;
    // margin-left: 10px;
    margin: auto 55px;
    font-size: 1rem;
    animation: pop 1s ease-in;


    @media screen and ( max-width : 600px ){

        font-size: 0.8rem;
        max-width: 250px;

        }
}

.header__right {
    font-family: 'Righteous', cursive;
    grid-area: 2 / 2 / 3 / 3;
    background-color: #141414;

    @media screen and ( max-width : 600px ){

        grid-area: 3 / 1 / 4 / 2;
        
        }
}


.hero__description {
    position: absolute;
    overflow: hidden;
    margin-top: -30px;
    margin-left: 5rem;
    color: rgba($color: #fff, $alpha: 0.6);
    // border-left: 1px solid rgba($color: #fff, $alpha: 0.6);;
    padding-left: 15px;
    width: 500px;
    transform: rotate(90deg);
    transform-origin: 0%;
    animation: pop 1.3s ease-in;


    @media screen and ( max-width : 600px ){
        
        margin: 0;
        position: static;
        transform: rotate(0deg);
        max-width: 350px;
        font-size: 0.8rem;
        
        }
}



.header__hero {
    grid-area: 2 / 1 / 3 / 2;
    // background-image: url(/assets/images/header__hero--hd.jpg);
    background-image: url(https://qjerap.github.io/rp1/assets/images/header__hero--hd.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    box-shadow: 4px -4px 12px -3px rgba(0,0,0,0.7);



}