.section2 {
    display: grid;
    grid-template-columns: 4fr 1fr;

    @media screen and (max-width: 600px){
        grid-template-columns: 1fr;
    }
}



.section2__image {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 600px;
    background-color: rgba($color: #fff, $alpha: 0.9);
    

    @media screen and (max-width: 600px){
        height: 300px;
    }

}

.section2__image1 {
    background-image: url(/assets/images/section2__image1-ld.jpg);
    // background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0;

}
.section2__image2 {
    background-image: url(/assets/images/section2__image3-ld.jpg);
    // background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0;
}

.section2__image3 {
    background-image: url(/assets/images/section2__image2-LD.jpg);
    // background-attachment: fixed;

    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    opacity: 0;
}

.section2__side {
    background-color: #141414;

    @media screen and (max-width: 600px){
        visibility: hidden;
        display: none;
    }
}